In [1]:
import os
from dotenv import load_dotenv
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase
from langchain.agents import AgentExecutor
from geoalchemy2 import Geometry
from sqlalchemy import create_engine
from langchain.chat_models import ChatOpenAI
from langchain.llms import OpenAI
from langchain import SQLDatabaseChain

In [2]:
load_dotenv()

True

In [3]:
OPENAI_API_KEY = os.getenv("OPENAI_API_KEY")
DATABASE_NAME = os.getenv("DATABASE_NAME")
DATABASE_USER = os.getenv("DATABASE_USER")
DATABASE_PASSWORD = os.getenv("DATABASE_PASSWORD")
DATABASE_PORT = os.getenv("DATABASE_PORT")
DATABASE_HOST = os.getenv("DATABASE_HOST")

In [4]:
llm=ChatOpenAI(model_name="gpt-4")

In [5]:
connection_string = f"postgresql://{DATABASE_USER}:{DATABASE_PASSWORD}@{DATABASE_HOST}:{DATABASE_PORT}/{DATABASE_NAME}"
engine = create_engine(connection_string)

db = SQLDatabase(engine=engine)
db_chain = SQLDatabaseChain(llm=llm, database=db, verbose=True)

In [6]:
connection_string = f"postgresql://{DATABASE_USER}:{DATABASE_PASSWORD}@{DATABASE_HOST}:{DATABASE_PORT}/{DATABASE_NAME}"
engine = create_engine(connection_string)

db = SQLDatabase(engine=engine)
toolkit = SQLDatabaseToolkit(db=db)

agent_executor = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    verbose=True
)

In [12]:
try:
    db_chain.run("how many tables are there?")
except Exception as e:
    print("\n\n", e)

> Entering new SQLDatabaseChain chain...
how many tables are there?
SQLQuery:"SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = 'public';"

 (psycopg2.errors.SyntaxError) syntax error at or near ""SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = 'public';""
LINE 1: "SELECT COUNT(*) FROM information_schema.tables WHERE table_...
        ^

[SQL: "SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = 'public';"]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [13]:
agent_executor.run("How many tables are there in the database?")

> Entering new AgentExecutor chain...
Action: list_tables_sql_db
Action Input:
Observation: treestandsummary, treestratum, stand_4326, assortment, stand, operation, datasource, specialfeature, treestand, specification, restriction
Thought:I can see there are 11 tables in the database.
Final Answer: There are 11 tables in the database.

> Finished chain.

'There are 11 tables in the database.'

In [14]:
agent_executor.run("What's the total sum of areas in the stand_4326 table?")

> Entering new AgentExecutor chain...
Action: list_tables_sql_db
Action Input:
Observation: treestandsummary, treestratum, stand_4326, assortment, stand, operation, datasource, specialfeature, treestand, specification, restriction
Thought:I see the stand_4326 table in the database. Now, I should look at its schema to identify the area column.
Action: schema_sql_db
Action Input: stand_4326
Observation:
CREATE TABLE stand_4326 (
	id INTEGER,
	standid BIGINT,
	parcelid BIGINT,
	realestateid BIGINT,
	standnumber BIGINT,
	standnumberextension VARCHAR(2),
	maingroup BIGINT,
	subgroup BIGINT,
	fertilityclass BIGINT,
	soiltype BIGINT,
	drainagestate BIGINT,
	ditchingyear BIGINT,
	thinningyear BIGINT,
	developmentclass VARCHAR(2),
	standquality BIGINT,
	maintreespecies BIGINT,
	accessibility BIGINT,
	standinfo VARCHAR,
	datasource BIGINT,
	growthplacedatasource BIGINT,
	area DOUBLE PRECISION,
	areadecrease DOUBLE PRECISION,
	creationtime TIMESTAMP WITH TIME ZONE,
	updatetime TIMESTAMP WITH TIME ZONE,
	geometry geometry(GEOMETRY,-1)
)

/*
3 rows from stand_4326 table:
id	standid	parcelid	realestateid	standnumber	standnumberextension	maingroup	subgroup	fertilityclass	soiltype	drainagestate	ditchingyear	thinningyear	developmentclass	standquality	maintreespecies	accessibility	standinfo	datasource	growthplacedatasource	area	areadecrease	creationtime	updatetime	geometry
331595	19281628	None	None	13	None	1	1	3	10	1	None	None	04	0	1	2		11	105	1.576	0.0	2022-10-16 17:24:55+00:00	2022-10-16 17:24:55+00:00	0106000020e61000000100000001030000000100000096000000f5f6b4ef45a33640b98a5d273f4a4e402e2fb3c454a33640
331596	19281630	None	None	15	None	1	1	3	10	1	None	None	03	0	2	4		11	105	0.27	0.0	2022-09-27 17:45:34+00:00	2022-09-27 17:45:34+00:00	0106000020e610000001000000010300000001000000130000002de346c4b1a33640f3b87ed8334a4e4040ee9771ada33640
331597	19281633	None	None	1	None	1	1	2	20	1	None	None	03	0	2	4		11	105	0.587	0.0	2022-09-27 17:45:34+00:00	2022-09-27 17:45:34+00:00	0106000020e610000001000000010300000001000000130000003c19582a80a336406f098a860a4a4e4007b0790c80a33640
*/
Thought:I see the area column in the stand_4326 table. I should now write a query to calculate the sum of the areas.
Action: query_checker_sql_db
Action Input: SELECT sum(area) FROM stand_4326
Observation:

SELECT SUM(area) FROM stand_4326
Thought:The query is correct. Now, I will execute the query to calculate the total sum of areas in the stand_4326 table.
Action: query_sql_db
Action Input: SELECT sum(area) FROM stand_4326
Observation: [(600761.402000011,)]
Thought:I now know the final answer.
Final Answer: The total sum of areas in the stand_4326 table is 600,761.402 square units.

> Finished chain.

'The total sum of areas in the stand_4326 table is 600,761.402 square units.'

In [19]:
res = agent_executor.run("Get the forest polygon with largest area as geojson from table stand_4326?")
res

> Entering new AgentExecutor chain...
Action: list_tables_sql_db
Action Input:
Observation: treestandsummary, treestratum, stand_4326, assortment, stand, operation, datasource, specialfeature, treestand, specification, restriction
Thought:Now that I have the list of tables, I can query the stand_4326 table for the forest polygon with the largest area.
Action: schema_sql_db
Action Input: stand_4326
Observation:
CREATE TABLE stand_4326 (
	id INTEGER,
	standid BIGINT,
	parcelid BIGINT,
	realestateid BIGINT,
	standnumber BIGINT,
	standnumberextension VARCHAR(2),
	maingroup BIGINT,
	subgroup BIGINT,
	fertilityclass BIGINT,
	soiltype BIGINT,
	drainagestate BIGINT,
	ditchingyear BIGINT,
	thinningyear BIGINT,
	developmentclass VARCHAR(2),
	standquality BIGINT,
	maintreespecies BIGINT,
	accessibility BIGINT,
	standinfo VARCHAR,
	datasource BIGINT,
	growthplacedatasource BIGINT,
	area DOUBLE PRECISION,
	areadecrease DOUBLE PRECISION,
	creationtime TIMESTAMP WITH TIME ZONE,
	updatetime TIMESTAMP WITH TIME ZONE,
	geometry geometry(GEOMETRY,-1)
)

/*
3 rows from stand_4326 table:
id	standid	parcelid	realestateid	standnumber	standnumberextension	maingroup	subgroup	fertilityclass	soiltype	drainagestate	ditchingyear	thinningyear	developmentclass	standquality	maintreespecies	accessibility	standinfo	datasource	growthplacedatasource	area	areadecrease	creationtime	updatetime	geometry
331746	19288383	None	None	5	None	1	1	3	10	1	None	None	04	0	1	4		11	105	0.146	0.0	2022-09-27 17:50:55+00:00	2022-09-27 17:50:55+00:00	0106000020e61000000100000001030000000100000025000000f7f29f3310ab3640cf9a21a08d504e4070cc3f2814ab3640
331750	19288405	None	None	12	None	1	1	3	30	1	None	None	04	0	1	2		11	101	1.657	0.0	2022-09-27 17:50:57+00:00	2022-09-27 17:50:57+00:00	0106000020e610000001000000010300000001000000b700000093dcc57ec0aa3640a84ae9ef20504e40e9142930bfaa3640
331747	19288394	None	None	3	None	1	1	3	10	3	None	None	04	0	1	2		11	101	2.533	0.0	2022-09-27 17:50:56+00:00	2022-09-27 17:50:56+00:00	0106000020e6100000010000000103000000010000001401000092637e1d88aa36403f951aa679504e40ab68f5c881aa3640
*/
Thought:I now know the schema of the stand_4326 table. I can write a query to get the forest polygon with the largest area as geojson.
Action: query_checker_sql_db
Action Input: SELECT id, ST_AsGeoJSON(geometry) as geojson FROM stand_4326 ORDER BY area DESC LIMIT 10
Observation:

SELECT id, ST_AsGeoJSON(geometry) as geojson FROM stand_4326 WHERE NOT IN (NULL) UNION ALL SELECT id, ST_AsGeoJSON(geometry) as geojson FROM stand_4326 WHERE area BETWEEN 0 AND 10 ORDER BY area DESC LIMIT 10;
Thought:The query_checker returned a different query. I should correct my query and try again.
Action: query_checker_sql_db
Action Input: SELECT id, ST_AsGeoJSON(geometry) as geojson FROM stand_4326 ORDER BY area DESC LIMIT 1
Observation:

SELECT id, ST_AsGeoJSON(geometry) as geojson FROM stand_4326 WHERE NOT IN (NULL) UNION ALL SELECT id, ST_AsGeoJSON(geometry) as geojson FROM stand_4326 WHERE area BETWEEN 0 AND 1 EXCLUSIVE ORDER BY area DESC LIMIT 1
Thought:The query_checker is still returning a different query. I should try with a simpler query, and then I can modify it to get the desired output.
Action: query_checker_sql_db
Action Input: SELECT id, geometry FROM stand_4326 ORDER BY area DESC LIMIT 1
Observation:

SELECT id, geometry FROM stand_4326 ORDER BY area DESC LIMIT 1
Thought:Now the query_checker has returned the same query. I can modify it to include the ST_AsGeoJSON function and run it to get the desired result.
Action: query_sql_db
Action Input: SELECT id, ST_AsGeoJSON(geometry) as geojson FROM stand_4326 ORDER BY area DESC LIMIT 1
Observation: [(357424, '{"type":"MultiPolygon","coordinates":[[[[23.269915592,60.639333217],[23.268083013,60.639452568],[23.268085115,60.639392395],[23.268122166,60.63933026 ... (31171 characters truncated) ... 5759],[23.263801546,60.636306311],[23.263913367,60.636327409],[23.263964315,60.636381328],[23.264034663,60.636412002],[23.264135767,60.636431456]]]]}')]
Thought:I now know the final answer.
Final Answer: {"type":"MultiPolygon","coordinates":[[[[23.269915592,60.639333217],[23.268083013,60.639452568],[23.268085115,60.639392395],[23.268122166,60.63933026 ... (31171 characters truncated) ... 5759],[23.263801546,60.636306311],[23.263913367,60.636327409],[23.263964315,60.636381328],[23.264034663,60.636412002],[23.264135767,60.636431456]]]]}

> Finished chain.

'{"type":"MultiPolygon","coordinates":[[[[23.269915592,60.639333217],[23.268083013,60.639452568],[23.268085115,60.639392395],[23.268122166,60.63933026 ... (31171 characters truncated) ... 5759],[23.263801546,60.636306311],[23.263913367,60.636327409],[23.263964315,60.636381328],[23.264034663,60.636412002],[23.264135767,60.636431456]]]]}'